.dropdown-item {
    color: blueviolet;
}

.dropdown-menu{
    background-color: black;
    
}
.dropdown-item{
    color: white;
}
body {
    
    background-image: url("clock.jpg");
    background-repeat: no-repeat;
    background-size: 1537px 715px;
    width: 100%;
    max-width: 100%; height: auto;
   }
.jumbotron{
        background-color: transparent;
}

        